<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/mission.css">
    <link rel="stylesheet" href="/stylesheets/reading.css">
    <%- include('partials/head') %>
    <title>Readings</title>
</head>
<body>


    <%- include('partials/header') %>
    <%- include('partials/mobile') %>

    <div class="menu">
        <p>Menu</p>
        <i id="burger" class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i>
    </div>

    <h1 class="viewh1">Reading - <%= date_id %> </h1>

    <div class="modal-box">

        <div class="electronic-readings">

            <img src="/images/book.png" alt="" class="book-logo">
            <p class="r-text">Electronic Reading</p>

            <a class="download" href="<%= pamphlet_link %>">View</a>

        </div>

        <div class="projection-slides">
            
            <img src="/images/slides.png" alt="" class="presentation-logo">

            <p class="r-text" >Projection Slides</p>

            <div class="dl-list">
                <p >First Reading</p>
                <a class="download" href="<%= gospelData["FR"] %>">Download</a>
            </div>

            <div class="dl-list">
                <p >Second Reading</p>
                <a class="download" href="<%= gospelData["SR"] %>" >Download</a>
            </div>

            <div class="dl-list">
                <p >Psalm</p>
                <a class="download" href="<%= gospelData["Pm"] %>">Download</a>
            </div>

            <div class="dl-list">
                <p >Gospel</p>
                <a class="download" href="<%= gospelData["GP"] %>">Download</a>
            </div>
        </div>


    </div>
    <p class="instructions">If you are a church goer, you can find the readings for todays service in electronic form by clicking the view button. You can also find the link to download the PowerPoints for today's service if you wish, although its meant for the projectionist.</p>
    
    <%- include('partials/footer') %>

      
</body>
</html>