<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/mission.css">
    <link rel="stylesheet" href="stylesheets/reading.css">
    <%- include('partials/head') %>
    <title>Readings</title>
</head>
<body>


    <%- include('partials/header') %>
    <%- include('partials/mobile') %>

    <div class="menu">
        <p>Menu</p>
        <i id="burger" class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i>
    </div>

    <section class="weeklyReadings">
        <h1>Weekly Readings</h1>
        
        <% for (const year in dates){ %>
    
            <section class="yearContainer">
                <h3 class="year-text"><%= year %></h3>
                
                <% for (const month in dates[year]){ %>

                    <% if (dates[year][month].length !== 0){ %>
                        <div class="month-container">
                            <div>
                                <h4 class="month-text"><%= month %></h4>
                            </div>
                            
                            <% dates[year][month].forEach(rec => { %>

                                <a class="date-bubble" href="/readings/<%= `${new Date(rec.date).getFullYear()}-${String(new Date(rec.date).getMonth() + 1).padStart(2, '0')}-${String(new Date(rec.date).getDate()).padStart(2, '0')}`  %>/view"><%= new Date(rec.date).toLocaleDateString('en-us', { weekday:"long", year:"numeric", month:"short", day:"numeric"})  %></a>

                            <% }) %>
                            
                        </div>
                    <% } %>
                <% } %>
            </section>

       <% }; %>

    </section>

    
    <%- include('partials/footer') %>

      
</body>
</html>